@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  background-color: #f7f7fc;
}

.wrapper .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #413f3f;
}

.wrapper .page .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrapper .page .content p {
  text-align: center;
  padding: 0 20px;
  width: 100%;
  font-size: 70px;
  color: white;
}

@media (max-width: 992px) {
  .wrapper .page .content p {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .wrapper .page .content p {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .wrapper .page .content p {
    font-size: 40px;
  }
}

.wrapper .social {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .social .social__item {
  height: 50px;
  width: 50px;
}

.wrapper .social .social__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .content__body {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px 0;
}

.wrapper .content__body .page__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper .content__body .page__two .block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  overflow: hidden;
  border-radius: 10px;
  margin: 30px;
  border: 1px solid white;
  -webkit-box-shadow: 5px 5px rgba(67, 67, 67, 0.234);
          box-shadow: 5px 5px rgba(67, 67, 67, 0.234);
  background-color: #fff;
}

.wrapper .content__body .page__two .block__item .item__img {
  width: 100%;
  height: 200px;
}

.wrapper .content__body .page__two .block__item .item__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .content__body .page__two .block__item .item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .content__body .page__two .block__item .item__text p {
  font-size: 19px;
  padding: 15px;
  text-align: center;
}

.wrapper .content__body .page__two .block__item .item__text a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 0 0 20px 0;
}

.wrapper .content__body .page__two .block__item .item__text a:hover {
  color: #555252;
}

.wrapper .content__body .page__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .content__body .page__name span {
  font-size: 60px;
}
